<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../public/css/bootstrap.css">
        <link rel="stylesheet" href="../public/css/preloader.css">
        <link rel="stylesheet" href="../public/css/sidenav.css">
        <link rel="stylesheet" href="../public/css/code.css">
        <link rel="icon" href="../public/img/favicon.png" type="image/x-icon">
        <script src="../public/js/jquery.js" defer></script>
        <script src="../public/js/popper.js" defer></script>
        <script src="../public/js/bootstrap.js" defer></script>
        <script src="../public/js/preloader.js" defer></script>
        <script src="../public/js/sidenav.js" defer></script>
        <title>Pinkie API - Docs</title>
    </head>
    <body>
        <div class="preloader">
            <img src="../public/img/preloader.svg" alt="preloader" class="centered">
        </div>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Pinkie API Docs</div>
                <div class="list-group list-group-flush">
                    <a href="#ping" class="list-group-item list-group-item-action bg-light">Ping (GET)</a>
                    <a href="#ascii_get" class="list-group-item list-group-item-action bg-light">Ascii Çeviri (GET)</a>
                    <a href="#ascii_post" class="list-group-item list-group-item-action bg-light">Ascii Çeviri (POST)</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Menü</button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Ana Sayfa</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://barbarbar338.fly.dev/discord">Discord Sunucusu</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://barbarbar338.fly.dev/github">Github</a>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Diğer Bağlantılar
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="https://github.com/barbarbar338/pinkie-api">Açık Kaynak Kodları</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.youtube.com/ProjectHammer">YouTube</a>
                                    <a class="dropdown-item" href="https://discord.com/users/331846231514939392">Discord Profil</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h1 class="mt-4">Ascii API 💡</h1>
                    <hr>
                    <div id="ping">
                    <h3 class="mt-4">Ping <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://pinkie-api.fly.dev/v2/ascii/ping</code></li>
                            <li>ÇIKTI:
                                <ul>
                                    <li>message: <code>string</code></li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://pinkie-api.fly.dev/v2/ascii/ping&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;Pong!&quot;</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    <hr>
                    <div id="ascii_get">
                        <h3 class="mt-4">Ascii Çeviri <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://pinkie-api.fly.dev/v2/ascii</code></li>
                            <li>QUERY: 
                                <ul>
                                    <li>message: <code>string</code></li>
                                </ul>
                            </li>
                            <li>ÇIKTI:
                                <ul>
                                    <li>message: <code>string</code> (Ascii formatındaki mesaj)</li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">`https://pinkie-api.fly.dev/v2/ascii?message=${encodeURIComponent("Selam")}`</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">"  ____       _                 \n / ___|  ___| | __ _ _ __ ___  \n \\___ \\ / _ \\ |/ _` | '_ ` _ \\ \n  ___) |  __/ | (_| | | | | | |\n |____/ \\___|_|\\__,_|_| |_| |_|\n                               "</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    <hr>
                    <div id="ascii_post">
                        <h3 class="mt-4">Ascii Çeviri <button class="btn btn-warning">POST</button></h3>
                        <ul>
                            <li>Metot: <code>POST</code></li>
                            <li>URL: <code>https://pinkie-api.fly.dev/v2/ascii</code></li>
                            <li>BODY: 
                                <ul>
                                    <li>message: <code>string</code></li>
                                </ul>
                            </li>
                            <li>ÇIKTI:
                                <ul>
                                    <li>message: <code>string</code> (Ascii formatındaki mesaj)</li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">body</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">message:</span> <span style="color: #0086d2">&quot;Selam&quot;</span>
<span style="color: #ffffff">}</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://pinkie-api.fly.dev/v2/ascii&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">method:</span> <span style="color: #0086d2">&quot;POST&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">body</span>: <span style="color: #cdcaa9; font-weight: bold">JSON.stringify</span><span style="color: #ffffff">(body),</span>
	<span style="color: #ffffff">headers:</span> <span style="color: #ffffff">{</span>
		<span style="color: #0086d2">&quot;Content-Type&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;application/json&quot;</span> 
	<span style="color: #ffffff">}</span>
<span style="color: #ffffff">}).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">"  ____       _                 \n / ___|  ___| | __ _ _ __ ___  \n \\___ \\ / _ \\ |/ _` | '_ ` _ \\ \n  ___) |  __/ | (_| | | | | | |\n |____/ \\___|_|\\__,_|_| |_| |_|\n                               "</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    </div>
                </div>
            </div>
    </body>
</html>
