<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="../public/css/bootstrap.css" />
        <link rel="stylesheet" href="../public/css/preloader.css" />
        <link rel="stylesheet" href="../public/css/sidenav.css" />
        <link rel="stylesheet" href="../public/css/code.css" />
        <link rel="icon" href="../public/img/favicon.png" type="image/x-icon" />
        <script src="../public/js/jquery.js" defer></script>
        <script src="../public/js/popper.js" defer></script>
        <script src="../public/js/bootstrap.js" defer></script>
        <script src="../public/js/preloader.js" defer></script>
        <script src="../public/js/sidenav.js" defer></script>
        <title>Pinkie API - Docs</title>
    </head>
    <body>
        <div class="preloader">
            <img src="../public/img/preloader.svg" alt="preloader" class="centered" />
        </div>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Pinkie API Docs</div>
                <div class="list-group list-group-flush">
                    <a href="#ping" class="list-group-item list-group-item-action bg-light">Ping (GET)</a>
                    <a href="#overlay" class="list-group-item list-group-item-action bg-light">Overlay (Çerçeve) (GET)</a>
                    <a href="#mcachievement" class="list-group-item list-group-item-action bg-light">Minecraft Başarım (GET)</a>
                    <a href="#banner" class="list-group-item list-group-item-action bg-light">Banner (GET)</a>
                    <a href="#mcachievement_post" class="list-group-item list-group-item-action bg-light">Minecraft Başarım (POST)</a>
                    <a href="#banner_post" class="list-group-item list-group-item-action bg-light">Banner (POST)</a>
                    <a href="#overlays" class="list-group-item list-group-item-action bg-light">Çerçeveler</a>
                    <a href="#icons" class="list-group-item list-group-item-action bg-light">Minecraft Başarım İkonları</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Menü</button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Ana Sayfa</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://bariscodes.me/discord">Discord Sunucusu</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://bariscodes.me/github">Github</a>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Diğer Bağlantılar
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="https://github.com/barbarbar338/pinkie-api">Açık Kaynak Kodları</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.youtube.com/ProjectHammer">YouTube</a>
                                    <a class="dropdown-item" href="https://discord.com/users/331846231514939392">Discord Profil</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h1 class="mt-4">Canvas API 🖼️</h1>
                    <div id="ping">
                        <h3 class="mt-4">Ping <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/canvas/ping</code></li>
                            <li>ÇIKTI:
                                <ul>
                                    <li>message: <code>string</code></li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/canvas/ping&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;Pong!&quot;</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    <hr>
                    <div id="overlay">
                        <h3 class="mt-4">
                            Overlay (Çerçeve) <button class="btn btn-success">GET</button>
                        </h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/canvas/overlay</code></li>
                            <li>QUERY:
                                <ul>
                                    <li>overlay: <code>string</code> (Geçerli çerçeveler için <code>Çerçeveler</code> kısmına göz atın)</li>
                                    <li>imageURL: <code>string</code> (Çerçeve uygulanacak görsel URL'si)</li>
                                </ul>
                            </li>
                            <li>ÇIKTI:
                                <ul>
                                    <li><code>buffer</code> (Belirttiğiniz görselin çerçeve uygulanmış hali)</li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5
6
7</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>
<span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fs</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;fs&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/canvas/overlay?overlay=bravery&amp;imageURL=https://www.clipartmax.com/png/full/64-645731_pinkie-pie-draw-equestria-girl-pinkie-pie.png&quot;</span><span style="color: #ffffff">)</span>
<span style="color: #ffffff">.then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.buffer()).then(buffer</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">fs.writeFileSync(</span><span style="color: #0086d2">&quot;./çerçeve.png&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">buffer);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                            <img src="../v2/canvas/overlay?overlay=bravery&imageURL=https://www.clipartmax.com/png/full/64-645731_pinkie-pie-draw-equestria-girl-pinkie-pie.png">
                        </div><br>
                        <hr>
                        <div id="mcachievement">
                            <h3 class="mt-4">
                                Minecraft Başarım <button class="btn btn-success">GET</button>
                            </h3>
                            <ul>
                                <li>Metot: <code>GET</code></li>
                                <li>URL: <code>https://api.bariscodes.me/v2/canvas/mcachievement</code></li>
                                <li>QUERY:
                                    <ul>
                                        <li>icon: <code>string</code> (Başarım ikonu. Geçerli ikonlar için <code>Minecraft Başarım İkonları</code> kısmına göz atın)</li>
                                        <li>title: <code>string</code> (Başarım başlığı)</li>
                                        <li>content: <code>string</code> (Başarım içeriği)</li>
                                    </ul>
                                </li>
                                <li>ÇIKTI:
                                    <ul>
                                        <li><code>buffer</code> (Minecraft başarım görseli)</li>
                                    </ul>
                                </li>
                            </ul>
                            <h6>Örnek Girdi</h6>
                            <div class="code">
    <table><tr><td><pre style="margin: 0; line-height: 125%">1
    2
    3
    4
    5
    6
    7</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>
    <span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fs</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;fs&quot;</span><span style="color: #ffffff">;</span>

    <span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/canvas/mcachievement?icon=egg&amp;title=Bir%20Basarim%20Kazandiniz!&amp;content=Bu%20bir%20yumurta?&quot;</span><span style="color: #ffffff">)</span>
    <span style="color: #ffffff">.then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.buffer()).then(buffer</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">fs.writeFileSync(</span><span style="color: #0086d2">&quot;./başarım.png&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">buffer);</span>
    <span style="color: #ffffff">});</span>
    </pre></td></tr></table>
                            </div><br>
                            <h6>Örnek Çıktı</h6>
                                <img src="../v2/canvas/mcachievement?icon=egg&title=Bir%20Basarim%20Kazandiniz!&content=Bu%20bir%20yumurta?">
                            </div><br>
                        <hr>
                        <div id="banner">
                            <h3 class="mt-4">
                                Banner <button class="btn btn-success">GET</button>
                            </h3>
                            <ul>
                                <li>Metot: <code>GET</code></li>
                                <li>URL: <code>https://api.bariscodes.me/v2/canvas/banner</code></li>
                                <li>QUERY:
                                    <ul>
                                        <li>message: <code>string</code> (Banner mesajı)</li>
                                        <li>width?: <code>number</code> (Banner genişliği. Varsayılan boyut 750)</li>
                                        <li>height?: <code>number</code> (Banner yüksekliği. Varsayılan boyut 250)</li>
                                        <li>bgColor?: <code>string</code> (Banner arkaplan rengi. Varsayılan renk 211d1c)</li>
                                        <li>fontColor?: <code>string</code> (Banner font rengi. Varsayılan renk ffffff)</li>
                                    </ul>
                                </li>
                                <li>ÇIKTI:
                                    <ul>
                                        <li><code>buffer</code> (Banner görseli)</li>
                                    </ul>
                                </li>
                            </ul>
                            <h6>Örnek Girdi</h6>
                            <div class="code">
    <table><tr><td><pre style="margin: 0; line-height: 125%">1
    2
    3
    4
    5
    6
    7</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>
    <span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fs</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;fs&quot;</span><span style="color: #ffffff">;</span>

    <span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/canvas/banner?message=Selam&amp;width=700&amp;height=200&amp;bgColor=4a312f&amp;fontColor=eb3f31&quot;</span><span style="color: #ffffff">)</span>
    <span style="color: #ffffff">.then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.buffer()).then(buffer</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">fs.writeFileSync(</span><span style="color: #0086d2">&quot;./banner.png&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">buffer);</span>
    <span style="color: #ffffff">});</span>
    </pre></td></tr></table>
                            </div><br>
                            <h6>Örnek Çıktı</h6>
                                <img src="../v2/canvas/banner?message=Selam&width=700&height=200&bgColor=4a312f&fontColor=eb3f31">
                            </div><br>
                            <hr>
                            <div id="mcachievement_post">
                            <h3 class="mt-4">
                                Minecraft Başarım <button class="btn btn-warning">POST</button>
                            </h3>
                            <ul>
                                <li>Metot: <code>POST</code></li>
                                <li>URL: <code>https://api.bariscodes.me/v2/canvas/mcachievement</code></li>
                                <li>BODY:
                                    <ul>
                                        <li>icon: <code>string</code> (Başarım ikonu. Geçerli ikonlar için <code>Minecraft Başarım İkonları</code> kısmına göz atın)</li>
                                        <li>title: <code>string</code> (Başarım başlığı)</li>
                                        <li>content: <code>string</code> (Başarım içeriği)</li>
                                    </ul>
                                </li>
                                <li>ÇIKTI:
                                    <ul>
                                        <li><code>buffer</code> (Minecraft başarım görseli)</li>
                                    </ul>
                                </li>
                            </ul>
                            <h6>Örnek Girdi</h6>
                            <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>
<span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fs</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;fs&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">body</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">icon:</span> <span style="color: #0086d2">&quot;egg&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">title:</span> <span style="color: #0086d2">&quot;Bir Basarim Kazandiniz!&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">content:</span> <span style="color: #0086d2">&quot;Bu bir yumurta?&quot;</span>
<span style="color: #ffffff">}</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/canvas/mcachievement&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">method:</span> <span style="color: #0086d2">&quot;POST&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">body</span>: <span style="color: #cdcaa9; font-weight: bold">JSON.stringify</span><span style="color: #ffffff">(body),</span>
	<span style="color: #ffffff">headers:</span> <span style="color: #ffffff">{</span>
		<span style="color: #0086d2">&quot;Content-Type&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;application/json&quot;</span> 
	<span style="color: #ffffff">}</span>
<span style="color: #ffffff">}).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">fs.writeFileSync(</span><span style="color: #0086d2">&quot;./başarım.png&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">buffer);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                            </div><br>
                            <h6>Örnek Çıktı</h6>
                                <img src="../v2/canvas/mcachievement?icon=egg&title=Bir%20Basarim%20Kazandiniz!&content=Bu%20bir%20yumurta?">
                            </div><br>
                        <hr>
                        <div id="banner_post">
                            <h3 class="mt-4">
                                Banner <button class="btn btn-warning">POST</button>
                            </h3>
                            <ul>
                                <li>Metot: <code>POST</code></li>
                                <li>URL: <code>https://api.bariscodes.me/v2/canvas/banner</code></li>
                                <li>BODY:
                                    <ul>
                                        <li>message: <code>string</code> (Banner mesajı)</li>
                                        <li>width?: <code>number</code> (Banner genişliği. Varsayılan boyut 750)</li>
                                        <li>height?: <code>number</code> (Banner yüksekliği. Varsayılan boyut 250)</li>
                                        <li>bgColor?: <code>string</code> (Banner arkaplan rengi. Varsayılan renk 211d1c)</li>
                                        <li>fontColor?: <code>string</code> (Banner font rengi. Varsayılan renk ffffff)</li>
                                    </ul>
                                </li>
                                <li>ÇIKTI:
                                    <ul>
                                        <li><code>buffer</code> (Banner görseli)</li>
                                    </ul>
                                </li>
                            </ul>
                            <h6>Örnek Girdi</h6>
                            <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>
<span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fs</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;fs&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">body</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">message:</span> <span style="color: #0086d2">&quot;Selam&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">width</span>: <span style="color: #cdcaa9; font-weight: bold">700</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">height</span>: <span style="color: #cdcaa9; font-weight: bold">200</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">bgColor:</span> <span style="color: #0086d2">&quot;4a312f&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">fontColor:</span> <span style="color: #0086d2">&quot;eb3f31&quot;</span>
<span style="color: #ffffff">}</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/canvas/banner&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">method:</span> <span style="color: #0086d2">&quot;POST&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">body</span>: <span style="color: #cdcaa9; font-weight: bold">JSON.stringify</span><span style="color: #ffffff">(body),</span>
	<span style="color: #ffffff">headers:</span> <span style="color: #ffffff">{</span>
		<span style="color: #0086d2">&quot;Content-Type&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;application/json&quot;</span> 
	<span style="color: #ffffff">}</span>
<span style="color: #ffffff">}).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">fs.writeFileSync(</span><span style="color: #0086d2">&quot;./banner.png&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">buffer);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                            </div><br>
                            <h6>Örnek Çıktı</h6>
                                <img src="../v2/canvas/banner?message=Selam&width=700&height=200&bgColor=4a312f&fontColor=eb3f31">
                            </div><br>
                            <hr>
                            <div id="overlays">
                                <h3 class="mt-4">
                                    Çerçeveler
                                </h3>
                                <ul>
                                    <li>balance</li>
                                    <li>bravery</li>
                                    <li>brilliance</li>
                                    <li>charmender</li>
                                    <li>ducklett</li>
                                    <li>espeon</li>
                                    <li>gyarados</li>
                                    <li>jigglypuff</li>
                                    <li>squirtle</li>
                                    <li>togepi</li>
                                    <li>vulpix</li>
                                </ul>
                            </div><br>
                            <hr>
                            <div id="icons">
                                <h3 class="mt-4">
                                    Minecraft Başarım İkonları
                                </h3>
                                <ul>
                                    <li>apple</li>
                                    <li>arrow</li>
                                    <li>bed</li>
                                    <li>bedrock</li>
                                    <li>blaze_powder</li>
                                    <li>blaze_rod</li>
                                    <li>block_of_diamond</li>
                                    <li>block_of_gold</li>
                                    <li>block_of_iron</li>
                                    <li>boat</li>
                                    <li>bone</li>
                                    <li>bonemeal</li>
                                    <li>book</li>
                                    <li>bottle_of_enchanting</li>
                                    <li>bottle</li>
                                    <li>bow</li>
                                    <li>bowl</li>
                                    <li>bread</li>
                                    <li>brewing_stand</li>
                                    <li>bucket</li>
                                    <li>cake</li>
                                    <li>chainmail_boots</li>
                                    <li>chainmail_chestplate</li>
                                    <li>chainmail_helmet</li>
                                    <li>chainmail_leggings</li>
                                    <li>charcoal</li>
                                    <li>chest</li>
                                    <li>coal_ore</li>
                                    <li>coal</li>
                                    <li>cobblesonte</li>
                                    <li>compass</li>
                                    <li>cooked_chicken</li>
                                    <li>cooked_fish</li>
                                    <li>cooked_porkchop</li>
                                    <li>cookie</li>
                                    <li>diamond_axe</li>
                                    <li>diamond_boots</li>
                                    <li>diamond_chestplate</li>
                                    <li>diamond_helmet</li>
                                    <li>diamond_hoe</li>
                                    <li>diamond_leggings</li>
                                    <li>diamond_ore</li>
                                    <li>diamond_pickaxe</li>
                                    <li>diamond_shovel</li>
                                    <li>diamond_sword</li>
                                    <li>diamond</li>
                                    <li>dirt</li>
                                    <li>dragon_egg</li>
                                    <li>egg</li>
                                    <li>enchantment_table</li>
                                    <li>ender_pearl</li>
                                    <li>eye_of_ender</li>
                                    <li>feather</li>
                                    <li>fence_gate</li>
                                    <li>fence</li>
                                    <li>flint_and_steel</li>
                                    <li>flint</li>
                                    <li>furnance</li>
                                    <li>glowstone_dust</li>
                                    <li>gold_apple</li>
                                    <li>gold_axe</li>
                                    <li>gold_boots</li>
                                    <li>gold_chestplate</li>
                                    <li>gold_helmet</li>
                                    <li>gold_hoe</li>
                                    <li>gold_ingot</li>
                                    <li>gold_leggings</li>
                                    <li>gold_nugget</li>
                                    <li>gold_ore</li>
                                    <li>gold_pickaxe</li>
                                    <li>gold_shovel</li>
                                    <li>gold_sword</li>
                                    <li>grass</li>
                                    <li>iron_axe</li>
                                    <li>iron_boots</li>
                                    <li>iron_chestplate</li>
                                    <li>iron_helmet</li>
                                    <li>iron_hoe</li>
                                    <li>iron_ingot</li>
                                    <li>iron_leggings</li>
                                    <li>iron_ore</li>
                                    <li>iron_pickaxe</li>
                                    <li>iron_shovel</li>
                                    <li>iron_sword</li>
                                    <li>ladder</li>
                                    <li>lapis_lazuli</li>
                                    <li>lava_bucket</li>
                                    <li>leather</li>
                                    <li>leather_boots</li>
                                    <li>leather_chestplate</li>
                                    <li>leather_helmet</li>
                                    <li>leather_leggings</li>
                                    <li>map</li>
                                    <li>melon_slice</li>
                                    <li>milk_bucket</li>
                                    <li>minecart</li>
                                    <li>music_disk</li>
                                    <li>obdisian</li>
                                    <li>paper</li>
                                    <li>piston</li>
                                    <li>potion</li>
                                    <li>pumpkin</li>
                                    <li>rails</li>
                                    <li>raw_beef</li>
                                    <li>raw_chicken</li>
                                    <li>raw_fish</li>
                                    <li>raw_porkchop</li>
                                    <li>redstone_dust</li>
                                    <li>redstone_ore</li>
                                    <li>redstone_repeater</li>
                                    <li>redstone_torch</li>
                                    <li>redstone_wire</li>
                                    <li>rotten_beef</li>
                                    <li>saddle</li>
                                    <li>shears</li>
                                    <li>sign</li>
                                    <li>slimeball</li>
                                    <li>snowball</li>
                                    <li>splash_potion</li>
                                    <li>steak</li>
                                    <li>stick</li>
                                    <li>sticky_piston</li>
                                    <li>stone</li>
                                    <li>stone_axe</li>
                                    <li>stone_button</li>
                                    <li>stone_hoe</li>
                                    <li>stone_pickaxe</li>
                                    <li>stone_pressure_plate</li>
                                    <li>stone_shovel</li>
                                    <li>stone_sword</li>
                                    <li>string</li>
                                    <li>water_bottle</li>
                                    <li>water_bucket</li>
                                </ul>
                            </div><br>
                    </div>
                </div>
            </div>
    </body>
</html>
