<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="public/css/bootstrap.css">
        <link rel="stylesheet" href="public/css/preloader.css">
        <link rel="stylesheet" href="public/css/sidenav.css">
        <link rel="stylesheet" href="public/css/code.css">
        <link rel="icon" href="public/img/favicon.png" type="image/x-icon">
        <script src="public/js/jquery.js" defer></script>
        <script src="public/js/popper.js" defer></script>
        <script src="public/js/bootstrap.js" defer></script>
        <script src="public/js/preloader.js" defer></script>
        <script src="public/js/sidenav.js" defer></script>
        <title>Pinkie API - Docs</title>
    </head>
    <body>
        <div class="preloader">
            <img src="public/img/preloader.gif" alt="preloader" class="centered">
        </div>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Pinkie API Docs</div>
                <div class="list-group list-group-flush">
                    <a href="#tanitim" class="list-group-item list-group-item-action bg-light">Tanıtım</a>
                    <a href="#contributing" class="list-group-item list-group-item-action bg-light">Katkıda Bulunma</a>
                    <a href="#uyari" class="list-group-item list-group-item-action bg-light">Uyarı</a>
                    <a href="#ascii" class="list-group-item list-group-item-action bg-light">Ascii API</a>
                    <a href="#canvas" class="list-group-item list-group-item-action bg-light">Canvas API</a>
                    <a href="#swear" class="list-group-item list-group-item-action bg-light">Küfür API</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Menü</button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="https://bariscodes.me/">Ana Sayfa</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://bariscodes.me/discord">Discord Sunucusu</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://bariscodes.me/github">Github</a>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Diğer Bağlantılar
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="https://github.com/barbarbar338/pinkie-api">Açık Kaynak Kodları</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.youtube.com/ProjectHammer">YouTube</a>
                                    <a class="dropdown-item" href="https://discord.com/users/331846231514939392">Discord Profil</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div id="tanitim">
                        <h1 class="mt-4">Pinkie API 🦄</h1>
                        <ul>
                            <li>Pinkie API hizmeti sürüm 2 yakın zamanda hizmet verecektir! 👀</li>
                            <li>Gelişmeler ve kaynak kodları için burayı takip edebilirsiniz. ✨</li>
                        </ul>
                    </div>
                    <hr>
                    <div id="contributing">
                        <h1 class="mt-4">Contributing (Katkı Bulunma) ✅</h1>
                        <ul>
                            <li>Aklınızda herhangi bir fikir varsa bir Pull Request açabilir veya bir Issue açarak bu fikri belirtebilirsiniz. 🔥</li>
                            <li>Bir eksik vb. görürseniz lütfen projeyi indirip o eksiği kapatıp sadece kendinizin kullanabileceği şekilde bir hosting sistemine koymayınız, herkese yardımcı olmak amacıyla bir Pull Request veya Issue açınız. ❤</li>
                        </ul>
                    </div>
                    <hr>
                    <div id="uyari">
                        <h1 class="mt-4">Uyarı ⚠️</h1>
                        <ul>
                            <li><code>src/assets/swearWordList.ts</code> dosyası içerisinde rahatsız edici küfürler bulunabilir! ☠️</li>
                            <li>Lütfen Self-Host yapmayınız, orijinal API'yi kullanınız. ⛔</li>
                            <li>Ana dizinde ve <code>test</code> klasörü içine bulunan herhangi bir dosyayı ve <code>src/main.ts</code> dosyasını değiştirmemeye çalışın. 👍</li>
                            <li>Herhangi bir Pull Request'ten önce konsolda <code>npm run format</code> komutunu çalıştırmayı unutmayın. 🧹</li>
                        </ul>
                    </div>
                    <hr>
                    <div id="ascii">
                        <h1 class="mt-4">Ascii API 💡</h1>
                        <h3 class="mt-4">Ping <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/ascii/ping</code></li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/ascii/ping&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;Pong!&quot;</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div><br>
                        <h3 class="mt-4">Ascii Çeviri <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/ascii</code></li>
                            <li>QUERY: 
                                <ul>
                                    <li>message: <code>string</code></li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">`https://api.bariscodes.me/v2/ascii?message=${encodeURIComponent("Selam")}`</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">"  ____       _                 \n / ___|  ___| | __ _ _ __ ___  \n \\___ \\ / _ \\ |/ _` | '_ ` _ \\ \n  ___) |  __/ | (_| | | | | | |\n |____/ \\___|_|\\__,_|_| |_| |_|\n                               "</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div><br>
                        <h3 class="mt-4">Ascii Çeviri <button class="btn btn-warning">POST</button></h3>
                        <ul>
                            <li>Metot: <code>POST</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/ascii</code></li>
                            <li>BODY: 
                                <ul>
                                    <li>message: <code>string</code></li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">body</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">message:</span> <span style="color: #0086d2">&quot;Selam&quot;</span>
<span style="color: #ffffff">}</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/ascii&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">method:</span> <span style="color: #0086d2">&quot;POST&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">body</span>: <span style="color: #cdcaa9; font-weight: bold">JSON.stringify</span><span style="color: #ffffff">(body),</span>
	<span style="color: #ffffff">headers:</span> <span style="color: #ffffff">{</span>
		<span style="color: #0086d2">&quot;Content-Type&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;application/json&quot;</span> 
	<span style="color: #ffffff">}</span>
<span style="color: #ffffff">}).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">"  ____       _                 \n / ___|  ___| | __ _ _ __ ___  \n \\___ \\ / _ \\ |/ _` | '_ ` _ \\ \n  ___) |  __/ | (_| | | | | | |\n |____/ \\___|_|\\__,_|_| |_| |_|\n                               "</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div>
                    <hr>
                    <div id="canvas">
                        <h1 class="mt-4">Canvas API 🖼️</h1>
                        <h3 class="mt-4">Ping <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/canvas/ping</code></li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/canvas/ping&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;Pong!&quot;</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div>



                    <hr>
                    <div id="swear">
                        <h1 class="mt-4">Küfür API 🤬</h1>
                        <h3 class="mt-4">Ping <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/swear/ping</code></li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/swear/ping&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;Pong!&quot;</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div><br>

                        <h3 class="mt-4">Ping <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/swear/ping</code></li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/swear/ping&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;Pong!&quot;</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div><br>


                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
