<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="public/css/bootstrap.css">
        <link rel="stylesheet" href="public/css/preloader.css">
        <title>Pinkie API - Docs</title>
    </head>
    <body>
    <div class="preloader">
        <img src="public/img/preloader.gif" alt="preloader" class="centered">
    </div>
    <h1>Hello, world!</h1>

    <script src="public/js/jquery.js"></script>
    <script src="public/js/popper.js"></script>
    <script src="public/js/bootstrap.js"></script>
    <script src="public/js/preloader.js"></script>
    </body>
</html>