<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../public/css/bootstrap.css">
        <link rel="stylesheet" href="../public/css/preloader.css">
        <link rel="stylesheet" href="../public/css/sidenav.css">
        <link rel="stylesheet" href="../public/css/code.css">
        <link rel="icon" href="../public/img/favicon.png" type="image/x-icon">
        <script src="../public/js/jquery.js" defer></script>
        <script src="../public/js/popper.js" defer></script>
        <script src="../public/js/bootstrap.js" defer></script>
        <script src="../public/js/preloader.js" defer></script>
        <script src="../public/js/sidenav.js" defer></script>
        <title>Pinkie API - Docs</title>
    </head>
    <body>
        <div class="preloader">
            <img src="../public/img/preloader.svg" alt="preloader" class="centered">
        </div>
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Pinkie API Docs</div>
                <div class="list-group list-group-flush">
                    <a href="#ping" class="list-group-item list-group-item-action bg-light">Ping (GET)</a>
                    <a href="#wordlist" class="list-group-item list-group-item-action bg-light">Küfür Listesi (GET)</a>
                    <a href="#replylist" class="list-group-item list-group-item-action bg-light">Küfür Cevap Listesi (GET)</a>
                    <a href="#randomreply" class="list-group-item list-group-item-action bg-light">Rastgele Cevap (GET)</a>
                    <a href="#check" class="list-group-item list-group-item-action bg-light">Küfür Kontrol (POST)</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Menü</button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Ana Sayfa</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://bariscodes.me/discord">Discord Sunucusu</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="https://bariscodes.me/github">Github</a>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Diğer Bağlantılar
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="https://github.com/barbarbar338/pinkie-api">Açık Kaynak Kodları</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.youtube.com/ProjectHammer">YouTube</a>
                                    <a class="dropdown-item" href="https://discord.com/users/331846231514939392">Discord Profil</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h1 class="mt-4">Küfür API 🤬</h1>
                    <hr>
                    <div id="ping">
                        <h3 class="mt-4">Ping <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/swear/ping</code></li>
                            <li>ÇIKTI:
                                <ul>
                                    <li>message: <code>string</code></li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/swear/ping&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;Pong!&quot;</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    <hr>
                    <div id="wordlist">
                        <h3 class="mt-4">Küfür Listesi <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/swear/wordlist</code></li>
                            <li>ÇIKTI:
                                <ul>
                                    <li><code>string[]</code> (Küfür arrayı)</li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/swear/wordlist&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">[</span> <span style="color: #0086d2">&quot;küfürler&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;array&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;şeklinde&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;çıkacaktır&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;ve&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;burada&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;sansürlenmiştir&quot;</span> <span style="color: #ffffff">]</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    <hr>
                    <div id="replylist">
                        <h3 class="mt-4">Küfür Cevap Listesi <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/swear/replylist</code></li>
                            <li>ÇIKTI:
                                <ul>
                                    <li><code>string[]</code> (Küfür cevap arrayı)</li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/swear/replylist&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">[</span> <span style="color: #0086d2">&quot;%{member}, bir daha duymamış olayım!&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;Galiba %{member} küfür ediyor. Birileri bu kullanıcıyı durdursun!&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;%{member}, ağzını topla!&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;%{member}, sana kaç kere küfür etmemeni söylemeliyim?&quot;</span><span style="color: #ffffff">,</span> <span style="color: #0086d2">&quot;Hey %{member}, Bu sunucuda küfür yasak!&quot;</span> <span style="color: #ffffff">]</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    <hr>
                    <div id="randomreply">
                        <h3 class="mt-4">Küfür Rastgele Cevap <button class="btn btn-success">GET</button></h3>
                        <ul>
                            <li>Metot: <code>GET</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/swear/randomreply</code></li>
                            <li>ÇIKTI:
                                <ul>
                                    <li>message: <code>string</code> (Rastgele bir uyarı mesajı)</li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/swear/randomreply&quot;</span><span style="color: #ffffff">).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span> <span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;%{member}, bir daha duymamış olayım!&quot;</span> <span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    <hr>
                    <div id="check">
                        <h3 class="mt-4">Küfür Check <button class="btn btn-warning">POST</button></h3>
                        <ul>
                            <li>Metot: <code>POST</code></li>
                            <li>URL: <code>https://api.bariscodes.me/v2/swear/check</code></li>
                            <li>BODY: 
                                <ul>
                                    <li>message: <code>string</code></li>
                                </ul>
                            </li>
                            <li>ÇIKTI:
                                <ul>
                                    <li>contains: <code>boolean</code> (Mesaj küfür içeriyorsa true içermiyorsa false)</li>
                                    <li>message?: <code>string</code> (Mesaj küfür içeriyorsa bir uyarı mesajı verir)</li>
                                </ul>
                            </li>
                        </ul>
                        <h6>Örnek Girdi</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #fb660a; font-weight: bold">import</span> <span style="color: #ffffff">fetch</span> <span style="color: #ffffff">from</span> <span style="color: #0086d2">&quot;node-fetch&quot;</span><span style="color: #ffffff">;</span>

<span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">body</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">message:</span> <span style="color: #0086d2">&quot;Selam&quot;</span>
<span style="color: #ffffff">}</span>

<span style="color: #ffffff">fetch(</span><span style="color: #0086d2">&quot;https://api.bariscodes.me/v2/swear/check&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">{</span>
	<span style="color: #ffffff">method:</span> <span style="color: #0086d2">&quot;POST&quot;</span><span style="color: #ffffff">,</span>
	<span style="color: #ffffff">body</span>: <span style="color: #cdcaa9; font-weight: bold">JSON.stringify</span><span style="color: #ffffff">(body),</span>
	<span style="color: #ffffff">headers:</span> <span style="color: #ffffff">{</span>
		<span style="color: #0086d2">&quot;Content-Type&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;application/json&quot;</span> 
	<span style="color: #ffffff">}</span>
<span style="color: #ffffff">}).then(res</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">res.json()).then(body</span> <span style="color: #ffffff">=&gt;</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">console.log(body);</span>
<span style="color: #ffffff">});</span>
</pre></td></tr></table>
                        </div><br>
                        <h6>Örnek Çıktı</h6>
                        <div class="code">
<table><tr><td><pre style="margin: 0; line-height: 125%">1
2
3
4</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #ffffff">{</span>
	<span style="color: #fb660a; font-weight: bold">&quot;contains&quot;</span><span style="color: #ffffff">:</span> <span style="color: #fb660a; font-weight: bold">true</span><span style="color: #ffffff">,</span>
	<span style="color: #fb660a; font-weight: bold">&quot;message&quot;</span><span style="color: #ffffff">:</span> <span style="color: #0086d2">&quot;%{member}, bir daha duymamış olayım!&quot;</span>
<span style="color: #ffffff">}</span>
</pre></td></tr></table>
                        </div>
                    </div><br>
                    </div>
                </div>
            </div>
    </body>
</html>
